{
  "extends": ["airbnb", "plugin:flowtype/recommended"], // airbnbのルールを継承
  "plugins": ["flowtype"],
  "env": {
    "browser": true, // ブラウザのグローバル変数を有効化
    "es6": true, // es6(es2015)の構文を有効化
    "jest": true
  },
  "parser": "babel-eslint", // babel-eslintをパーサーに使用
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true // jsxを有効化
    }
  },
  "rules": {
    "no-console": "off" // no-consoleのルールをoffにする
  }
}
