{
  "extends": ["airbnb"], // airbnbのルールを継承
  "env": {
    "browser": true, // ブラウザのグローバル変数を有効化
    "es6": true // es6(es2015)の構文を有効化
  },
  "parser": "babel-eslint", // babel-eslintをパーサーに使用
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true // jsxを有効化
    }
  }
}
